.alert {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #e74c3c;
}

.alert p {
  color: #e74c3c;
}

.alert button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  font-weight: bold;
}

.alert button:hover {
  text-decoration: underline;
}
